.carrusel {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.carrusel_dentro {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrusel_dentro img {
    width: 100%;
    cursor: pointer;
}

button {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
body {
    background-color: rgb(114, 114, 114);
    background-image: linear-gradient(to top, #0095ff, #fff)
}
p, h1{
    text-align: justify;
    color:#8e8d8d;
}